#=============OPTIONAL===============
#Put the Bot Token Right Here
TOKEN=
#Put the Prefix
PREFIX=>
#DataBase URI (Support Monggose Only)
DATABASE=
#====================================

#==============MUSIC================
#Lavalink Node (Use to Play Music)
#Lavalink Host
LAVA_HOST=
#Lavalink Port
LAVA_PORT=
#Lavalink Password
LAVA_PASSWORD=
#===================================

#===============OSU=================
#Put OSUAPI key Right Here
#Otherwise OSU command wouldn't Work
#You Can get the API key Right Here
#https://osu.ppy.sh/p/api/

OSU_API=
#===================================