#Put the Bot Token Right Here
TOKEN=
#Put the Prefix
PREFIX=>
#DataBase URI (Support Monggose Only)
DATABASE=

#Lavalink Node (Use to Play Music)
#Lavalink Host
LAVA_HOST=
#Lavalink Port
LAVA_PORT=
#Lavalink Password
LAVA_PASSWORD=