{
  "ownerInfo": {
    "name": "Please Put Your Name Right Here",
    "id": "Your Discord ID",
    "ownerDescription": "Tell About Your Self or whatever you want to say (This Will Use in 'About' commands as 'SelfHosted')"
  }
}